/*
* Custom Styles
* Copyright 2014, Cole Gentry & Adam Yeager
* www.carsthisyear.com
*/
body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#welcome {
  margin-top: 2%;
}
#intro {

}
#options {
  margin-top: 2%;
  margin-bottom: 2%;
}
#grid {
  .row img {
    margin-bottom: 4%;
  }
}